<html>

<head>
    <title>BADACS</title>
    <link href="{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/keen-ui.min.css" rel="stylesheet" type="text/css" />   
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
    -->
    <!--<link href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" rel="stylesheet" type="text/css"/>
    <link href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" rel="stylesheet" type="text/css"/>-->

    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        html {
            font-size: 100%;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
        }

        /* Material Icons */
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: local('Material Icons'),
                local('MaterialIcons-Regular'),
                url({{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/material-icons.woff2) format('woff2');
        }
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }

        .settings {
            /*grid-template-rows: repeat(auto-fill, minmax(1.5em, 1fr));*/
        }

        .loading {
            height: 0.25rem
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-gap: 0.5em;
        }

        .ui-button-group {
            gap: .5rem;
        }

        /* Use disabled Tab as title */
        .ui-tab-header-item.is-disabled {
            opacity: 1;
        }

        /* CONF GRID */
        .grid {
            display: grid;
            column-gap: 1rem;
            align-items: center;
            /*grid-auto-rows: 2rem;*/
            font-family: Consolas, ui-monospace, monospace;
        }
        .tight {
            margin-bottom: 0;
        }

        .same {
            background-color: #d1ffd1;
        }
        .diff {
            background-color: #ffd1d1;
        }

        .row1 {
            grid-row: 1;
        }
        .row2 {
            grid-row: 2;
        }
        .row3 {
            grid-row: 3;
        }
        .row4 {
            grid-row: 4;
        }
        .row5 {
            grid-row: 5;
            height: .25rem;
        }
        .col1 {
            grid-column: 1;
        }
        .col1-2 {
            grid-column: 1 / 3;
        }
        .col2 {
            grid-column: 2;
        }
        .colall {
            grid-column: 1 / -1;
        }

        .acs-input {
            margin-bottom: 0;
        }

        .half-input {
            width: 50%;
        }
        .addable {
            display: inline-block;
        }

        .removeable {
            display: inline-block;
            line-height: 1.125rem;
            vertical-align: middle;
        }

    </style>
</head>

<body>
    <!--<header>
        <a class="navSkip" href="#navSkip" tabindex="1"></a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
        </div>
    </header>-->
    <div id="vue" class="main-section-body" data-role="main">
        <ui-tabs>
            <ui-tab disabled>
                <div slot="header" style="color:black;">Brett Adams' Dangerous Admin Configuration Service</div>
            </ui-tab>
            <ui-tab id="home" title="Home" selected>
                <h1>Welcome</h1>
                <p>This app provides a graphical user inferace to the Splunk Admin Configuration Service. All actions performed in this app are privilleged and are performed using the sc_admin role. Private App management has not yet been implemented.</p>
                <p>Created and supported by <a target="_blank" href="https://splunkbase.splunk.com/apps/#/author/s7orm">Brett Adams</a>. The app is still under active development, so please raise issues on <a target="_blank" href="https://github.com/Bre77/badacs/issues">GitHub</a></p>

                <h3>Current Stacks</h3>
                    <p v-for="stack in Object.keys(config)"><a :href="`https://${stack}.splunkcloud.com`" target="_blank">{{stack}}</a></p>
                </table>
                <h3>Add Stack</h3>
                <ui-textbox label="Stack Name" v-model="addstack_host" help="This is the subdomain infront of .splunkcloud.com" :error="addstack_host_error"></ui-textbox>
                <ui-textbox label="Auth Token" v-model="addstack_auth" help="This must be an auth token for a user with the sc-admin role" :error="addstack_auth_error"></ui-textbox>
                <ui-checkbox label="Shared" v-model="addstack_shared"></ui-checkbox>
                <ui-button @click="AddStack()" :disabled="!Boolean(addstack_host && addstack_auth)">Submit</ui-button>
                <h3>Options</h3>
                <ui-select :options="setting_columns_options" v-model="setting_columns_option">Columns to display</ui-select>
            </ui-tab>
            <ui-tab id="netin" class="grid" title="Inbound Allowlists" :style="{'grid-template-columns': `repeat(${this.setting_columns}, 1fr)`}" @input="TabChange(NetInGet)">
                <template v-for="(c,i) in acs_columns.slice(0,setting_columns)">
                    <ui-select class="settings row1 tight" :style="{'grid-column':i+1}" :options="acs_servers_options" :disabled="acs_servers_options.length == 0" placeholder="Please select a server" v-model="c.server" @dropdown-close="NetInGet(c)" label="Stack" :invalid="!c.server"></ui-select>
                    <div class="loading" :style="{'grid-column':i+1}"><ui-progress-linear v-show="c.loading"></ui-progress-linear></div>
                </template>
                <template v-for="aspect in Object.keys(ACS_NETWORK_ENDPOINTS)">
                    
                    <div v-for="(c,i) in acs_columns.slice(0,setting_columns)" v-if="netin_data.hasOwnProperty(c.server)" :style="{'grid-column':i+1}">
                        <div><b>{{aspect}}</b></div>
                        <removable v-if="netin_data[c.server].hasOwnProperty(aspect)" v-for="(entry,x) in netin_data[c.server][aspect]"  v-model="netin_data[c.server][aspect][x]" :action="NetInRemove" :args="[c.server,aspect]"></removable>
                        <addable :action="NetInAdd" :args="[c.server,aspect]" placeholder="Add CIDR">
                    </div>
                </template>
            </ui-tab>
            <ui-tab id="netout" class="grid" title="Outbound Allowlists" :style="{'grid-template-columns': `repeat(${this.setting_columns}, 1fr)`}" @select="TabChange(NetOutGet)">
                <template v-for="(c,i) in acs_columns.slice(0,setting_columns)">
                    <ui-select class="settings row1" :style="{'grid-column':i+1}" :options="acs_servers_options" :disabled="acs_servers_options.length == 0" placeholder="Please select a server" v-model="c.server" @dropdown-close="NetOutGet(c)" label="Stack" :invalid="!c.server"></ui-select>
                    <div class="loading" :style="{'grid-column':i+1}"><ui-progress-linear v-show="c.loading"></ui-progress-linear></div>
                    <div :style="{'grid-column':i+1}">
                        <template v-for="(c,i) in acs_columns.slice(0,setting_columns)" v-if="netin_data.hasOwnProperty(c.server)">
                            <div v-for="(entries,group) in netout_data[c.server]" :style="{'grid-column':i+1}" class="flex">
                                {{entries}}
                            </div>
                        </template>
                        <addport :action="NetOutAdd" :stack="c.server"></addport>
                    </div>
                </template>
                
            </ui-tab>
            <ui-tab id="hec" class="grid" title="HEC" :style="{'grid-template-columns': `repeat(${this.setting_columns}, 1fr)`}" @select="TabChange(HecGet)" disabled>
                <template v-for="(c,i) in acs_columns.slice(0,setting_columns)">
                    <ui-select class="settings row1" :style="{'grid-column':i+1}" :options="acs_servers_options" :disabled="acs_servers_options.length == 0" placeholder="Please select a server" v-model="c.server" @dropdown-close="HecGet(c)" label="Stack" :invalid="!c.server"></ui-select>
                    <div class="loading" :style="{'grid-column':i+1}"><ui-progress-linear v-show="c.loading"></ui-progress-linear></div>
                </template>

                <template v-for="(c,i) in acs_columns.slice(0,setting_columns)" v-if="hec_data.hasOwnProperty(c.server)">
                    <div v-for="hec in hec_data[c.server]" :style="{'grid-column':i+1}">
                        <div>{{hec.token}}</div>
                        <ui-textbox v-model="hec.spec.name">Name</ui-textbox>
                        <ui-select multiple :options="(idx_data[c.server] || []).map(i=>i.name)" v-model="hec.spec.allowedIndexes">Allowed Indexes</ui-textbox>
                        <ui-textbox v-model="hec.spec.defaultHost">Host</ui-textbox>
                        <ui-textbox v-model="hec.spec.defaultSource">Source</ui-textbox>
                        <ui-textbox v-model="hec.spec.defaultSourcetype">Sourcetype</ui-textbox>
                        <ui-textbox v-model="hec.spec.defaultIndex">Index</ui-textbox>
                        <ui-checkbox v-model="hec.spec.useAck">Use ACK</ui-checkbox>
                        <ui-checkbox v-model="hec.spec.disabled">Disabled</ui-checkbox>
                    </div>
                </template>
            </ui-tab>
            <ui-tab id="idx" class="grid" title="Indexes" :style="{'grid-template-columns': `repeat(${this.setting_columns}, 1fr)`}" @select="TabChange(IdxGet)" disabled>
                <template v-for="(c,i) in acs_columns.slice(0,setting_columns)">
                    <ui-select class="settings row1" :style="{'grid-column':i+1}" :options="acs_servers_options" :disabled="acs_servers_options.length == 0" placeholder="Please select a server" v-model="c.server" @dropdown-close="IdxGet(c)" label="Stack" :invalid="!c.server"></ui-select>
                    <div class="loading" :style="{'grid-column':i+1}"><ui-progress-linear v-show="c.loading"></ui-progress-linear></div>
                </template>
                <template v-for="(c,i) in acs_columns.slice(0,setting_columns)" v-if="idx_data.hasOwnProperty(c.server)">
                    <div v-for="idx in idx_data[c.server]" :style="{'grid-column':i+1}">
                        {{idx}}
                        searchableDays
                        maxDataSizeMB
                    </div>
                </template>
            </ui-tab>
        </ui-tabs>
    </div>
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>-->
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>-->
    <!--<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>-->
    <script>
        function i18n_register(catalog) {return}
    </script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/vue.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/keen-ui.js"></script>
    <script>
        const CSRF = /splunkweb_csrf_token_\d+=(\d+)/.exec(document.cookie)[1]
        const COLUMNS_MAX = 8
        const DELIM = "\0"
        const ACS_NETWORK_ENDPOINTS = {
            'search-api':'access/search-api/ipallowlists',
            'hec':'access/hec/ipallowlists',
            's2s':'access/s2s/ipallowlists',
            'search-ui':'access/search-ui/ipallowlists',
            'idm-ui':'access/idm-ui/ipallowlists',
            'idm-api':'access/idm-api/ipallowlists',
            
        }
        
        function imgError(image){
            console.log(image)
            image.onerror = "";
            image.src = "{{SPLUNKWEB_URL_PREFIX}}/static/app/badacs/appIcon.png";
            return true;
        }

        Vue.prototype.localStorage = window.localStorage
        Vue.use(KeenUI);

        Vue.component('removable', {
            data: function(){
                return {
                    loading: false
                }
            },
            props: ['action','args','value'],
            methods: {
                handler() {
                    this.loading = true
                    this.action(this.value, ...this.args).then(()=>{
                        this.loading = false
                    })
                }
            },
            template: `<div class="removable">{{value}} <ui-icon-button size="mini" type="secondary" icon="backspace" color="red" :loading="loading" @click="handler" title="Remove"></ui-icon-button></div>`
        })

        Vue.component('addable', {
            data: function(){
                return {
                    value: "",
                    loading: false,
                    error: ""
                }
            },
            props: ['action','args','placeholder'],
            methods: {
                handler() {
                    this.loading = true
                    this.error = ""
                    console.log(this.action)
                    this.action(this.value, ...this.args).then(()=>{
                        this.loading = false
                        this.value = ""
                    },reject=>{
                        this.loading = false
                        this.error = reject
                    })
                }
            },
            template: `
            <div class="addable">
                <ui-textbox :placeholder="placeholder" v-model="value" :error="error" style="float:left;"></ui-textbox>
                <ui-icon-button size="mini" type="secondary" icon="add" color="green" :loading="loading" @click="handler" title="Add" style="float:left;"></ui-icon-button> {{error}}
            </div>
            `
        })

        Vue.component('addport', {
            data: function(){
                return {
                    name: "",
                    port: 0,
                    subnets: "",
                    loading: false,
                    error: ""
                }
            },
            props: ['action','stack'],
            methods: {
                handler() {
                    this.loading = true
                    this.error = ""
                    this.action(this.name, this.port, this.subnets, this.stack).then(()=>{
                        this.loading = false
                        this.value = ""
                        this.port = 0
                        this.subnets = ""
                        this.error = ""
                    },reject=>{
                        this.loading = false
                        this.error = reject
                    })
                }
            },
            template: `
            <div class="addable">
                <ui-textbox v-model="name" style="float:left;">Name</ui-textbox>
                <ui-textbox type="number" v-model:number="port" :min="1" ;max="65535" style="float:left;">Port</ui-textbox>
                <ui-textbox help="Comma seperated list of CIDR subnets" v-model="subnets" :error="error" style="float:left;">Subnets</ui-textbox>
                <ui-icon-button size="mini" type="secondary" icon="add" color="green" :loading="loading" @click="handler" title="Add" style="float:left;"></ui-icon-button> {{error}}
            </div>
            `
        })

        const vue = new Vue({
            el: '#vue',
            data: {
                context: {},
                config: {},
                setting_columns_option: "2",
                addstack_host: "",
                addstack_host_error: "",
                addstack_auth: "",
                addstack_auth_error: "",
                addstack_shared: true,
                valid_line: RegExp('^[^#=]+=[^=]+$'),
                SPLUNKD_PATH: `/${window.$C.LOCALE}/splunkd/__raw/servicesNS/${window.$C.USERNAME}`,
                acs_columns: Array.from({length:COLUMNS_MAX}, u => ({
                    server: '',
                    loading: 0,
                })),
                netin_data: {},
                netout_data: {},
                hec_data: {},
                idx_data: {},
                app_data: {},
                ACS_NETWORK_ENDPOINTS: ACS_NETWORK_ENDPOINTS
            },
            components: {
            },
            computed: {
                acs_servers_options(){
                    return Object.keys(this.config)
                },
                setting_columns() {
                    return Number(this.setting_columns_option)
                },
                setting_columns_options() {
                    let start = 2
                    let end = COLUMNS_MAX
                    return [...Array(end-start+1).keys()].map(i => String(i + start));
                },
            },
            methods: {
                //
                // Add Server Tab
                //
                AddStack(){
                    this.Request('addstack',{stack:this.addstack_host,token:this.addstack_auth}).then(resp => {
                        console.log(resp)
                        this.addstack_host = ""
                        this.addstack_host_error = ""
                        this.addstack_auth = ""
                        this.addstack_auth_error = ""
                        this.addstack_shared = true
                        //return this.TabConfig() // Can likely do this locally
                    },reject => {
                        if(reject.cause == 401){
                            this.addstack_host_error = ""
                            this.addstack_auth_error = reject.message
                        } else {
                            this.addstack_host_error = reject.message
                            this.addstack_auth_error = ""
                        }
                    })
                },
                //
                // NETIN Tab
                //
                NetInGet(c){
                    console.log("NetInGet",c)
                    if(!this.config.hasOwnProperty(c.server)) return Promise.resolve()
                    if(!this.netin_data.hasOwnProperty(c.server)){
                        this.$set(this.netin_data,c.server,{})
                    }
                    c.loading += 1
                    return Promise.all(Object.entries(ACS_NETWORK_ENDPOINTS).map(z => {
                        const [key,endpoint] = z
                        if(this.netin_data[c.server].hasOwnProperty(key)) return Promise.resolve()
                        return this.Request('get',{'stack':c.server,'endpoint':endpoint})
                        .then(resp => {
                            this.$set(this.netin_data[c.server],key,resp.subnets)
                        }, reject =>{
                            this.$set(this.netin_data[c.server],key,{})
                        })
                    }))
                    .then(()=>{
                        c.loading -= 1
                    })
                },
                NetInRemove(value,stack,aspect){
                    console.log("NetInRemove",value,stack,aspect)
                    return this.Request('change',{'method':'DELETE', 'stack':stack, 'endpoint':ACS_NETWORK_ENDPOINTS[aspect], 'data':JSON.stringify({'subnets':[value]})}).then(()=>{
                        this.$delete(this.netin_data[stack][aspect],this.netin_data[stack][aspect].indexOf(value))
                    },reject => {
                        return Promise.reject(reject.message)
                    })
                },
                NetInAdd(value,stack,aspect){
                    console.log("NetInAdd",value,stack,aspect)
                    return this.Request('change',{'method':'POST', 'stack':stack, 'endpoint':ACS_NETWORK_ENDPOINTS[aspect], 'data':JSON.stringify({'subnets':[value]})}).then(()=>{
                        this.netin_data[stack][aspect].push(value)
                    },reject => {
                        return Promise.reject(reject.message)
                    })
                },
                //
                // NETOUT Tab
                //
                NetOutGet(c){
                    console.log("NetOutGet",c)
                    if(!this.config.hasOwnProperty(c.server)) return Promise.resolve()
                    if(!this.netout_data.hasOwnProperty(c.server)){
                        this.$set(this.netout_data,c.server,{})
                    }
                    c.loading += 1
                    return this.Request('get',{'stack':c.server,'endpoint':'access/outbound-ports'})
                    .then(resp => {
                        this.$set(this.hec_data,c.server,resp)
                        c.loading -= 1
                    }, reject => {
                        this.$set(this.hec_data,c.server,[])
                        c.loading -= 1
                    })
                },
                NetOutRemove(port,value,stack){
                    console.log("NetOutRemove",port,value,stack)
                    return this.Request('change',{'method':'POST', 'stack':stack, 'endpoint':`access/outbound-ports/${port}`, 'data':JSON.stringify({'subnets':[value]})}).then(()=>{
                        this.netout_data[stack].push(payload)
                    },reject => {
                        return Promise.reject(reject.message)
                    })
                },
                NetOutAdd(name,port,subnets,stack){
                    console.log("NetOutAdd",name,port,subnets,stack)
                    subnets = subnets.split(',').map(s => s.trim())
                    const payload = {
                        'outboundPorts': [{
                            'port': Number(port),
                            'subnets': subnets
                        }],
                        'reason': name
                    }
                    return this.Request('change',{'method':'POST', 'stack':stack, 'endpoint':'access/outbound-ports', 'data':JSON.stringify(payload)}).then(()=>{
                        this.netout_data[stack].push({
                            "destinationRanges": subnets,
                            "name": name,
                            "port": port
                        })
                    },reject => {
                        return Promise.reject(reject.message)
                    })
                },
                //
                // HEC
                //
                HecGet(c){
                    console.log("HecGet",c)
                    // HEC also needs the index list, so grab that first
                    return this.IdxGet(c).then(()=>{
                        // Check this is valid
                        if(!this.config.hasOwnProperty(c.server)) return Promise.resolve()
                        if(this.hec_data.hasOwnProperty(c.server)) return Promise.resolve()

                        c.loading += 1
                        
                        return this.Request('get',{'stack':c.server,'endpoint':'inputs/http-event-collectors'})
                        .then(resp => {
                            this.$set(this.hec_data,c.server,resp['http-event-collectors'])
                            c.loading -= 1
                        }, reject => {
                            this.$set(this.hec_data,c.server,[])
                            c.loading -= 1
                        })
                    })
                },
                //
                // Indexes
                //
                IdxGet(c){
                    console.log("IdxGet",c)
                    if(!this.config.hasOwnProperty(c.server)) return Promise.resolve()
                    if(this.idx_data.hasOwnProperty(c.server)) return Promise.resolve()
                    c.loading += 1
                    
                    return this.Request('get',{'stack':c.server,'endpoint':'indexes'})
                    .then(resp => {
                        console.log("good",resp)
                        this.$set(this.idx_data,c.server,resp)
                        c.loading -= 1
                    }, reject => {
                        console.log("bad",reject)
                        this.$set(this.idx_data,c.server,[])
                        c.loading -= 1
                    })
                },
                //
                // Generic Helpers
                //
                Afus(a){ //Arrays Flat Unique Sorted 
                    return Array.from(new Set(a.flat())).sort() // Remove .flat() eventually
                },
                Request(action,data={}) {
                    let form = new URLSearchParams()
                    form.append('a', action)
                    for (x in data){
                        form.append(x, data[x])
                    }
                    console.log(form.toString())
                    return fetch(`/${window.$C.LOCALE}/splunkd/__raw/services/badacs?output_mode=json`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-Splunk-Form-Key': CSRF,
                        },
                        body: form
                    })
                    .catch(e => {
                        console.warn(e)
                        return Promise.reject({ cause: 'local', message: e.message });
                    })
                    .then(resp => {
                        console.log(resp.status)
                        return resp.json().catch(e => {
                            console.error("JSON PARSE",e,resp)
                            return Promise.reject({ cause: 'parse', message: e.message });
                        }).then(data=>{
                            console.log(resp.status)
                            if (resp.status >= 500){
                                console.error(resp.status, data.error, data.message)
                                return Promise.reject({ cause: resp.status, message: "There was a server error, please report this on GitHub", error: data.message})
                            } else if (resp.status >= 400){
                                console.warn(resp.status, data.error, data.message)
                                return Promise.reject({ cause: resp.status, message: data.message, error: data.error})
                            }
                            return data
                        })
                        
                    })
                },
                GetChild(object, keys, def=false) {
                    for (const key of keys){
                        if (object.hasOwnProperty(key)){
                            object = object[key]
                        } else return def
                    }
                    return object
                },
                TabChange(func){
                    for (const c of this.acs_columns){
                        if(c.server){
                            func(c)
                        }
                    }
                }
            },
            mounted() {
                if(localStorage.badacs_setting_columns){
                    this.$set(this, 'setting_columns_option', localStorage.badacs_setting_columns)
                }
                this.Request('config').then(resp => {
                    this.$set(this,'config',resp)
                },reject =>{
                    console.error("FATAL ERROR - COULDNT GET CONFIG",resp)
                })
            },
            watch: {
                setting_columns_option(next,prev){
                    localStorage.setItem('badacs_setting_columns', next)
                },
            }
        })
    </script>
</body>
</html>